* {       
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
  }

  /* ---------------------
     header
    ---------------------- */
header {
    height: 70px;
    padding: 10px 20px;
}
.logo-header {
    vertical-align: middle;
    display: inline-block

}
.text-header {
    vertical-align: middle;
    display: inline-block
    
}
/* ---------------------
      / header
    ---------------------- */