* {       
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
  }

  body {
    background-color: #f6f8f9;
  }

  /* ---------------------
     header
    ---------------------- */
header {
    height: 70px;
    padding: 10px 20px;
    background-color: white;
}
.logo-header {
    vertical-align: middle;
    display: inline-block

}
.text-header {
    vertical-align: middle;
    display: inline-block
    
}
/*  ---------------------
      / header
    ---------------------- */

 /* ---------------------
           main
    ---------------------- */
main {
     height: 580px;
     max-width: 790px;
     background-color: white;
     margin: 40px auto;
}
.button-task {
    height: 25px;
    width: 70px;
    background-color: #14aaf5;
    border-radius: 6px;
    border-color: #14aaf5;
    color: white;
    border-width: 1px;
}
.button-section {
    height: 25px;
    width: 85px;
    background-color: white;
    border-radius: 6px;
    border-color: #f6f8f9;
    border-width: 1px;
    color: #f6f8f9;

}
.section-comand {
    border-color: #f6f8f9;
    height: 50px;
    padding: 10px 50px 15px;
    border-bottom: 2px;
    
}
.new-task {
    
    height: 100px;
    padding: 35px 50px 15px ;
}
.triangle {
    display: inline-block;
    vertical-align: middle;
}
.title-newtask {
    display: inline-block;
    vertical-align: middle;


}
.icon-true {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #42ccb4;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    border: 1px solid;
    margin-right: 8px;
    

}
.icon-false {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #ff1b1b;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    border: 1px solid;
    margin-right: 8px;
    

}
.text-subtitle {
    display: inline-block;
    font-size: 20px;

    
}
.contain {
    padding-top: 15px;
}
.button-color {
    display: inline-block;
    font-size: small;
    
    padding: 5px 10px;
    color: white;
    border-radius: 16px;
    
}
.color-blue {
    background-color: #14aaf5;
}
.color-purple {
    background-color: #ab5de6 ;
}
.color-green {
    background-color: #2cc6ab;
}
.color-orange {
     background-color: #ff9b00;
}